:root {
  --primary-color: rgba(28, 132, 173, 0.589);
  --secondary-color: #144a52;
  --tertiary-color: #ffffff;
}
* {
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #e6ccb3;
  color: rgba(28, 132, 173, 0.589);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* h sections */
h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  text-align: center;
}
/* p section */
p {
  font-size: 2rem;
  text-align: center;
}
/* header div */
header div {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin: 20px 20px;
  padding: 5px;
  align-content: center;
}
.style.indiv {
  font-size: 0.5cm;
  font-weight: 100;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.high-score {
  font-size: 0.5cm;
  border: none;
  background-color: transparent;
  padding: 20px;
  color: rgba(28, 132, 173, 0.589);
}
div .p-style {
  font-size: 0.6cm;
}

div .p-style-1 {
  font-size: 0.5cm;
  font: 2px;
  padding-block: 10px;
  text-align: center;
}
div .style-2 {
  display: grid;
  grid-template-rows: 1fr, 2fr;
  grid-auto-rows: (10px, auto);
  flex: wrap;
  justify-content: center;
  align-content: space-between;
}
div .style-3 {
  display: grid;
  grid-template-rows: 1fr, 2fr;
  grid-auto-rows: (10px, auto);
  flex: wrap;
  justify-content: center;
  align-content: space-between;
}
div .list-inner {
  justify-content: start;
}
.list-inner {
  justify-content: start;
}
/* section wrapper hidden html element parts*/
section .wrapper {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-auto-rows: (10px, auto);
  grid-gap: 0.5em;
  justify-items: left;
}
/* question stylings*/

.questions-ul {
  list-style-type: none;
  display: contents;
}
.questions-li {
  width: 250px;
}
.list-inner {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-auto-rows: (10px, auto);
  grid-gap: 0.05em;
}
/*BUTTON SECTIONS*/
.btn-style-main {
  background-color: rgba(28, 132, 173, 0.678);
  color: var(--tertiary-color);
  border-radius: 10px;
  width: 225px;
  border: 1px solid black;
  font-size: 0.5cm;
  padding: 8px;
  margin: 4px;
  outline: none;
}
.btn-style-main:active {
  background-color: var(--secondary-color);
  box-shadow: 0 2pxrgb (214, 71, 71);
  transform: translateY(1px);
}
.answer-btn {
  color: white;
  width: 225px;
  border: 1px solid black;
  font-size: 0.5cm;
  padding: 8px;
  outline: none;
  text-align: start;
  border: 1px solid;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--primary-color);
}
.answer-btn:active {
  background-color: var(--secondary-color);
  box-shadow: 0 2px rgb(214, 71, 71);
  transform: translateY(1px);
}
/*score list*/
.score-list {
  padding-left: 35px;
}
.span-1 {
  height: 30px;
}
/* this is where the hidden page elements will go*/

#questions,
#final-score,
#high-scores,
#correct-wrong {
  display: none;
}
/* media section*/
@media screen and (max-width: 375px) {
  h2,
  .switch {
    font-size: 0.4cm;
  }
  div .p-style {
    font-size: 0.4cm;
    text-align: justify;
    padding: 0px 50px;
  }
  .list-inner {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    justify-items: center;
  }
}
